
h3 {
  color: $tuatara !important;
  line-height: 30px !important;

}

a {
  color: $link !important;
  font-size: 13px;
  &.readmore.right {
    line-height: 38px;
    &:after {
      content: "\e60b";
      font-family: 'gglobal';
      vertical-align: middle;
      position: relative;
      padding-left: 3px;
      top: -1px;
    }
  }
  &.expand {
    color: $white !important;
  }
  &:hover, &:focus {
    color: $tuatara !important
  }
}


.subheader {
 &.current {
   color: $tuatara;
   font-size: 26px;
   padding-top: 20px;
   padding-bottom: 20px;
 }
}


.alert-box{
  &.success {
    background-color: #fffffa !important;
    border: 1px solid $success-color !important;
    color: #b0b8c0 !important;
    font-size: 13px !important;
margin-top: 10px;
  }
  .edit {
    right: 10px;
    float: right;
    padding-right: 10px;
    color: #b0b8c0;
    .icon {
      font-size: 18px;
      vertical-align: middle;
      top: -2px;
      position: relative;
    }

  }
  .close {
    font-size: 1.775rem !important;
    font-weight: bold;
    top: 48% !important;
    color: $label;
    opacity: 1.0 !important;
  }
}


.hero-video {
  height: 532px;
  background-image: url("../img/slider_top@2x.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  margin-bottom: 50px;
}

.overlay {
  background: #000; /*can be anything, of course*/
  .hero-container {
    width: 98%;
    padding-top: 100px;
    position: absolute;
    z-index: 1;
    left: 0;
    @media only screen and (max-width: 64em) {
    padding-top: 65px;
    }

    @media only screen and (max-width: 40em) {
      padding-top: 90px;
    }


    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      color: $white;
      font-weight: 200;
      text-align: center;
      font-size: 3.4em;
      letter-spacing: -2px;
      padding-bottom: 2rem;

      @media only screen and (max-width: 40em) {
        font-size: 2.4em;
        letter-spacing: -1px;
      }

    }
    .expand {
      font-weight: bold;
    }
  }
}


.header-section-gg {
  @media only screen and (max-width: 64em) {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.button {
  &.expand {
    text-transform: uppercase;
  }
}

#play-title {
  color:$white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 63px;

  a {
    .icon {
      font-size: 2em;
      vertical-align: middle;
      padding-right: 10px;
      top: -2px;
      position: relative;
      color:$white;
    }
  }

  @media only screen and (max-width: 40em) {
    padding-top: 20px;
  }

}

#content-menu-gg {
  text-align: left;
  padding-top: 26px;
  padding-bottom: 35px;
  a {
    width: 98%;
    @media only screen and (max-width: 64em) {
      width: 100%;
    }

    @media only screen and (max-width: 40em) {
      width: 100%;
    }
  }
}

.button-default-gg {
  background-color: $btn-default-gg !important;
  color: $tuatara  !important;
  &:hover {
    background-color: $btn-default-gg-hover !important;
    color: $white !important;
  }
  &:active {
    background-color: $btn-default-gg-active!important;
    color: $white !important;
  }


  @media only screen and (max-width: 40em) {
    font-size: 1em !important;
  }

}

.button-white-gg {
  background-color: $white !important;
  color: $btn-white-color !important;
  border: 2px solid $btn-white-color !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-bottom: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  @media only screen and (max-width: 64.063em) {
    font-size: 11px !important;
  }

  &:hover, &:focus {

    color: $btn-white-color-hover !important;
    border: 2px solid $btn-white-color-hover !important;
  }
  &:active {
    color: darken($tuatara, 10%) !important;
    border: 2px solid darken($gainsboro, 10%) !important;
  }


  @media only screen and (max-width: 40em) {
    font-size: 1em !important;
  }

  .fa-arrow-down{
    position: relative;
    @media only screen and (max-width: 64.063em) {
      display: none;
    }
  }


}

.dark-body {
  background-color: $dark-body;
  height: auto;
  padding: 31px 0 20px 0;

  -webkit-box-shadow: inset 2px 7px 5px -7px rgba(23, 25, 30, 0.22);;
  -moz-box-shadow: inset 2px 7px 5px -7px rgba(23, 25, 30, 0.22);;
  box-shadow: inset 2px 7px 5px -7px rgba(23, 25, 30, 0.22);;
  @media only screen and (max-width: 64.063em) {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
  .panel {
    margin-right: 0.7rem;
    margin-bottom: 1.3rem;
    @media only screen and (max-width: 40em) {
      margin-right: 0;
      margin-bottom: 1.3rem;
    }

    @media only screen and (max-width: 64.063em) {
      margin-bottom: 0.7rem;
    }
    background-color: $white;
    -webkit-box-shadow: 0 0 4px 0 rgba(143, 145, 148, 0.35);
    -moz-box-shadow: 0 0 4px 0 rgba(143, 145, 148, 0.35);
    box-shadow: 0 0 4px 0 rgba(143, 145, 148, 0.35);
    border: 0;
    padding: 0;

    &.radius {
      -webkit-border-radius: 3px !important;
      -moz-border-radius: 3px !important;
      border-radius: 3px !important;
    }

    .content {
      padding: 15px 20px 5px 20px !important;
      .info {
        position: relative;
        display: block;
        width: 100%;
        float: left;
        padding-bottom: 10px;
        .left {
          font-weight: bold;
          color: $icon-color;
        }
        .right {
          font-size: 12px;
          font-weight: normal;
          color:$link;
          line-height: 24px;
        }
      }
      dd {
        &.small {
          color:$icon-color;
          font-size: 11px;
          font-weight: normal;
        }
        &.map-label {
          color: $link;
          font-size: 12px;
          font-weight: normal;
          margin-bottom: 2px;
          .icon {
            color: $icon-color;
            font-size: 18px;
            margin-left: -5px;
            vertical-align: sub;
            padding-right: 3px;
          }
        }
        line-height: 18px;
        font-size: 15px;
        color: $tuatara;
      }
      dl{
        margin-bottom: 0;
      }
      dt {
        color: $tuatara;
        line-height: 18px;
      }
      .progress-info {
        color: $link;
        font-size: 12px;
        vertical-align: text-bottom;
        position: relative;
        padding-left: 10px;
        @media only screen and (max-width: 40em) {
          margin-left: 0;
        }
      }
      .progress {
        background-color: $default-progress;
        height: 0.8625rem;
        margin-top: 5px;
        @media only screen and (max-width: 64.063em) {
          margin-left: -5px;
        }
        padding: 0 !important;
        &.success {
       .meter {
         background: $progress-bar-color;
       }
        }
      }

    }
    @media only screen and (max-width: 64.063em) {
      padding: 20px 20px 0 20px;
    }
    .button {
      margin-bottom: -4px;
      @media only screen and (max-width: 64.063em) {
        margin-bottom: 20px;
      }
      background: transparent !important;
      color: $link;
      border-top: 1px solid $gainsboro ;
      padding-right: 0.4rem;
      padding-left: 0.4rem;
      &:hover {
        -webkit-box-shadow: inset 3px 4px 9px -2px #EAEAEA;
        -moz-box-shadow: inset 3px 4px 9px -2px #EAEAEA;
        box-shadow: inset 3px 4px 9px -2px #EAEAEA;
        background-color: $white !important;
        @media only screen and (max-width: 64.063em) {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

      }
      &.left {
        border-right: 1px solid $gainsboro ;
        @media only screen and (max-width: 64.063em) {
          border: 0;
          background-color: $btn-default-gg !important;
          color: $tuatara  !important;
          &:hover {
            background-color: $btn-default-gg-hover !important;
            color: $white !important;
          }
          &:active {
            background-color: $btn-default-gg-active!important;
            color: $white !important;
          }
        }

        &:hover {
          -webkit-box-shadow: inset -3px 4px 9px -2px #EAEAEA;
          -moz-box-shadow: inset -3px 4px 9px -2px #EAEAEA;
          box-shadow: inset -3px 4px 9px -2px #EAEAEA;
          background-color: $white !important;
          @media only screen and (max-width: 64.063em) {
            background-color: $btn-default-gg-hover !important;
            color: $white !important;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }

        }
      }
      .icon {
        color: $icon-color;
        font-size: 19px;
        top: 1px;
        vertical-align: middle;
        &.active {
          color: $favorite-color;
        }
        &:before {
          top: -2px;
          position: relative;
          left: -4px;
        }
      }

      @media only screen and (max-width: 64.063em) {
        border: 0;
        background-color: $btn-default-gg !important;
        color: $tuatara !important;
        &:hover {
          background-color: $btn-default-gg-hover !important;
          color: $white !important;
        }
        &:active {
          background-color: $btn-default-gg-active!important;
          color: $white !important;
        }
      }
      padding-right: 0;
      font-size: 13px;
    }
.buttons {
  @media only screen and (max-width: 64.063em) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

    &.panel-right {
      margin-right: 0;
      margin-left: 0.7rem;
      @media only screen and (max-width: 64.063em) {
        margin-right: 0.7rem;
        margin-left: 0;
      }
      @media only screen and (max-width: 40em) {
        margin-right: 0;
      }
    }
    &.panel-center {
      margin-right: 0.7rem;
      margin-left: 0.7rem;
      @media only screen and (max-width: 64.063em) {
        margin-right: 0.7rem;
        margin-left: 0;
      }
      @media only screen and (max-width: 40em) {
        margin-right: 0;
      }
    }
    &.panel-left {
      @media only screen and (max-width: 64.063em) {
      margin-right: 0.7rem;
        margin-left: 0;
      }
        @media only screen and (max-width: 40em) {
          margin-right: 0;
        }

    }

  }

  #blocks-gg {
    padding-top: 20px;
    .columns {
      @media only screen and (max-width: 64.063em) {
      padding-left: 0;
      padding-right: 0;
      }
    }
  }
  &.top {
    padding-top: 10px;
    padding-bottom: 0;
    .tabs {
      dd {
        a {
          background-color: $dark-body;
          font-weight: normal;
        }
        &.active {
          color: $tuatara;
          border-top: 1px solid $gainsboro;
          border-left: 1px solid $gainsboro;
          border-right: 1px solid $gainsboro;
          margin-bottom: -1px;
          font-weight: bold;
          font-size: 16px;
          a {
            background-color: $white;
            color: $success-color !important;
          }
        }
      }

      &.bordered {
        dd {
          a {
            border: 1px solid $gainsboro;
            margin-bottom: 0;
            border-right: 0;
            padding-top: 12px;
            padding-bottom: 12px;
            @media only screen and (max-width: 64.063em) {
              font-size: 12px;
              padding-bottom: 9px;
              padding-top: 9px;
            }
          }
          &.active {
            color: #475566;
            border-top: 0px solid $gainsboro;
            border-left: 0px solid $gainsboro;
            border-right: 0px solid $gainsboro;
            font-weight: bold;
            font-size: 16px;
            a {
              border-bottom: 1px solid $white;
            }
          }
        }
      }

    }
    .tabs-content {
      background-color: $white;
      border-top: 1px solid $gainsboro;
      padding-top: 30px;
      margin-top: -1px;
      min-height: 105px;

      @media only screen and (max-width: 64.063em) {
        margin-left: -15px;
        width: 103%;
        padding-left: 20px;
        padding-right: 20px;
      }

      #select-industrial {
        margin-right: 15px;
        @media only screen and (max-width: 40em) {
          margin-right: 0;
        }
      }

      .button-group {
        right: 0;
        float: left;
        top: 18px;
        position: relative;
        a {
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
        .button {
          font-weight: bold;
          padding-top: 16px;
          padding-bottom: 16px;
          text-transform: uppercase;
          padding-left: 21px;
          padding-right: 21px;
          &.default {
            margin-left: 15px;
          }
        }

      }

    }
  }
}

a.showmore {
  line-height: 38px;
  text-align: center;
  &:after {
    content: "\e60c";
    font-family: 'gglobal';
    vertical-align: middle;
    position: relative;
    padding-left: 3px;
    top: -1px;
  }
}

#block-gg-img-1 {
  background-image: url("../img/img-1.jpg");
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/img-1@2x.jpg");
  }

}
#block-gg-img-2 {
  background-image: url("../img/img-2.jpg");
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/img-2@2x.jpg");
  }

}
#block-gg-img-3 {
  background-image: url("../img/img-3.jpg");
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/img-3@2x.jpg");
  }

}
#block-gg-img-4 {
  background-image: url("../img/img-4.jpg");
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/img-4@2x.jpg");
  }

}
#block-gg-img-5 {
  background-image: url("../img/img-5.jpg");
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/img-5@2x.jpg");
  }

}
#block-gg-img-6 {
  background-image: url("../img/img-6.jpg");
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("../img/img-6@2x.jpg");
  }

}


.img-wrapper {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 185px;
  @media only screen and (max-width: 64.063em) {
    min-height: 239px;
  }
  @media only screen and (max-width: 40em) {
    min-height: 352px;
  }
}

dd {
  font-weight: 300;
}

.section {
  span {
    &.right {
      color: $icon-color;
      line-height: 36px;
      padding-right: 15px;
    }
  }
}

#select-country {
  margin-top: -5px;
  margin-right: 10px;
  @media only screen and (max-width: 64.063em) {
    margin-top: 10px;
  }
  @media only screen and (max-width: 40em) {
    margin-right: 0;
  }
 .cs-placeholder {
   &:before {
     font-family: 'gglobal';
     content: '\e603';
     padding-right: 7px;
     font-size: 26px;
     vertical-align: middle;
     color: $link-icon-dropdown;
     line-height: 27px;
     position: relative;
     font-weight: 200;
   }
 }
}

#select-industrial {
  margin-top: -5px;
  @media only screen and (max-width: 64.063em) {
    margin-top: 10px;
  }
  .cs-placeholder {
    &:before {
      font-family: 'gglobal';
      content: '\e602';
      padding-right: 7px;
      font-size: 26px;
      vertical-align: middle;
      color: $link-icon-dropdown;
      line-height: 27px;
      top: -4px;
      position: relative;
      font-weight: 200;
    }
  }
}

#select-range {
  @media only screen and (max-width: 64.063em) {
    margin-top: 15px;
  }
  position: relative;
  top: -5px;
  margin-right: 15px;
  @media only screen and (max-width: 40em) {
    margin-right: 0px;
  }
  .cs-placeholder {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
.dark-body {
  label {
    font-size: 0.875rem;
    color: $label !important;
    cursor: pointer;
    display: block;
    font-weight: normal !important;
    line-height: 3.5;
    margin-bottom: 0;
    padding-top: 0;
    top: -6px;
    margin-top: -30px !important;
    @media only screen and (max-width: 64.063em) {
      padding-bottom: 0 !important;
    }
    @media only screen and (max-width: 40em) {
      display: none !important;
    }
  }
}

//@media only screen and (max-width: 64.063em) {
//  label {
//    font-size: 0.875rem;
//    color: $label !important;
//    cursor: pointer;
//    display: block;
//    font-weight: normal !important;
//    line-height: 3.5;
//    margin-bottom: 0;
//    padding-top: 0;
//    top: -6px;
//    margin-top: -30px !important;
//    padding-bottom: 47px !important;
//  }
//}

.list-body {
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px #CFCFCF;
  background-color: $white;
  margin-bottom: 20px;
  .list-row {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    .label-name {
      color: $label-name;
      font-size: 12px;
      display: inline-block;
      padding-right: 10px;
    }
    .label-title {
      font-size: 13px;
      color: $tuatara;
      font-weight: bold;
    }
    p {
      font-size: 12px;
      padding-top: 20px;
      font-weight: normal;
      color: $tuatara;
    }
    img{
      padding-top: 5px;
    }
    .large-2 {
      text-align: center;
      @media only screen and (max-width: 64.063em) {
        text-align: left;
      }
    }
    .large-4 {
      text-align: right;
      @media only screen and (max-width: 64.063em) {
        text-align: left;
      }
    }

    .icon {
      font-size: 24px;
      &.icon-favorite-gg {

        &.active {
          color: $favorite-color;
        }
      }
      &.icon-chat-gg {
        padding-right: 12px;
        top: 3px;
        position: relative;
        color: $success-color;
      }
    }
.sub-address {
  color: $label-name;
  font-size: 12px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
    .moredetails {
      padding-top: 45px;
      font-size: 12px;
      color: #475566;
      display: block;
      &:after {
        content: "\e60b";
        font-family: 'gglobal';
        vertical-align: middle;
        position: relative;
        padding-left: 3px;
        top: -1px;
      }
    }
    .img-empty {
      position: relative;
      width: 101px;
      height: 101px;
      border: solid 1px $gainsboro;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  hr {
    margin-top: 0;
  }

  &.sidebar {
    padding: 20px;
    .logo {
     text-align: center;
      padding-bottom: 20px;
    }
    .label {
      text-align: left;
      font-size: 13px;
      width: 100%;
      color: $tuatara;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: $dark-body !important;
      padding-top: 8px;
      padding-bottom: 9px;
      margin-left: -8px;
    }
    .label-name {
      font-size: 13px;
      color:$label;
      line-height: 21px;
      width: 110px;
    }
    .label-title-alt {
      font-size: 13px;
      color: $label;
      line-height: 0;
      font-weight: 200;
      top: -5px;
      position: relative;

    }
    .label-title {
      font-size: 16px;
      color: $tuatara;
      width: 125px;
    }
  }
}

.event {
  font-size: 17px;
  color: #b0b8c0;
  font-weight: normal;

}

.float-panel {
  z-index: 1;
  width: 286px;
  background-color: #fff;
  position: absolute;
  top: 259px;
  right: 10%;
  max-width: 400px;
  padding: 20px 10px 10px 10px;
  -webkit-box-shadow: 0 0 4px 0 rgba(143, 145, 148, 0.35);
  -moz-box-shadow: 0 0 4px 0 rgba(143, 145, 148, 0.35);
  box-shadow: 0 0 4px 0 rgba(143, 145, 148, 0.35);
  @media only screen and (max-width: 64.063em) {
    top: 370px;
    right:3%;
  }

  @media only screen and (max-width: 900px) {
    top: 370px;
  }

  .label-name {
    font-size: 13px;
    color:$label;
    line-height: 21px;
    width: 110px;
  }
  .label-title-alt {
    font-size: 13px;
    color: #B0B8C0;
    line-height: 0;
    font-weight: 200;
  }
  .label-title {
    font-size: 16px;
    color: $tuatara;
    width: 125px;
  }

  .progress-info {
    color: $link;
    font-size: 12px;
    vertical-align: text-bottom;
    position: relative;
    padding-left: 10px;
    @media only screen and (max-width: 40em) {
      margin-left: 0;
    }
  }
  .progress {
    background-color: $default-progress;
    height: 0.8625rem;
    margin-top: 5px;
    @media only screen and (max-width: 64.063em) {
      margin-left: -5px;
    }
    padding: 0 !important;
    &.success {
      .meter {
        background: $progress-bar-color;
      }
    }
  }
  .button {
    margin-top: 20px;
  }
  .row {
    padding-bottom: 10px;
  }
}

.add-to-list {
  text-align: center;
  a {
   &:hover, &:focus {
     color: $tuatara;
   }
 }
}

p {
  &.grey {
    color: $tuatara;
  line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
  &.events {
    a {
      text-decoration: underline;
    }
    font-size: 14px;
    padding-top: 10px;
  }
}

.box {
  border: 1px solid #ddd;
  width: 98px;
  height: 98px;
  img {
    display: block;
    width: 100%;
  }
}

.sub-h3 {
  font-size: 14px;
  line-height: 7px;
  padding-bottom: 10px;
}

.small-social-link {
  padding-top: 10px;
  display: block;
  text-align: center;
  width: 94px;
  a {
    .fa {
      font-size: 23px;
      &.fa-facebook-square {
        color: $facebook-color;
        padding-right: 10px;
      }
      &.fa-linkedin-square {
        color: $linkedin-color;
      }
    }
  }
}

.label-name-gallery {
  font-size: 13px;
  color: $label;
  padding-bottom: 5px;
}

table {
  &.list {
    border: 0;
    tr {
      border-bottom: 1px solid $gainsboro;
      &:first-child {
        border-top: 1px solid $gainsboro;
      }
      td {
        padding-top: 14px !important;
        padding-bottom: 14px !important;
        img{
          padding-right: 10px;
          vertical-align: sub;
          top: 3px;
          position: relative;
        }
      }
    }
  }
}

.button {
  &.default, &.success, &.expand {
    color: $white !important;
    &:hover, &:focus {
      color: $white !important;
    }
  }
}




