
#footer {
  width: 100%;
  height: auto;
  float: left;
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    height: 530px;
  }
  background-color: $footer-color;
  position:relative;
  bottom:0;
  .footer-video {
    height: 334px;
    background-color: $white;
    background-image: url("../img/slider_bottom@2x.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
    opacity: 0.7;
  }

  .footer {
    height: 186px;
    padding-top: 20px;
    #right-contact-f {
      text-align: right;
      color: $dark-body !important;
      font-size: 0.9em;
      .article {
        color: $white;
      }
      @media only screen and (min-width: 40.063em) and (max-width: 64em) {
        text-align: left;
        margin-left: 0;
      }

      @media only screen and (max-width: 40.063em) {
        float: left;
        text-align: left;
        font-size: 0.8em;
      }


      a {
        color: $icon-color;
        &:hover {
          color: lighten($footer-contact, 10%) !important;
        }
      }
    }
    #social-links {
      float:right;
      font-size: 1.2em;
      @media only screen and (max-width: 40.063em) {
        float:left;
        margin-left: -25px;
      }
      a {
        color: $link !important;
        &:hover {
          color: lighten($footer-contact, 10%) !important;
        }
      }
    }

  }
#copyright-gg {
  font-size: 0.7em;
  color: $footer-contact;
  padding-top: 7px;
  a {
    color: $footer-contact !important;
    &:hover {
      color: lighten($footer-contact, 10%) !important;
    }
  }

}
  #bottom-menu-gg {
    font-size: 0.9em;
    li {
      a {
        color:$dark-body !important;
        &:hover {
          color: lighten($footer-contact, 10%) !important;
        }
      }
    }

    @media only screen and (max-width: 40.063em) {
      font-size: 0.7em;
      font-weight: normal;
    }

  }

  #copyright {
    padding-top: 32px;
    @media only screen and (min-width: 40.063em) and (max-width: 64em) {
      padding-top: 0;
    }

    @media only screen and (max-width: 40.063em) {
      padding-top: 0;
    }

  }

  .hero-bottom {
    position: absolute;
    bottom: 223px;
    text-align: center;
    width: 100%;
    @media only screen and (max-width: 40.063em) {
      bottom: 243px;
    }
    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      color: $white;
      font-weight: 200;
      text-align: center;
      font-size: 3.4em;
      @media only screen and (max-width: 40.063em) {
        font-size: 2.4em;
      }
      letter-spacing: -2px;
      padding-bottom: 2rem;
    }
    .expand {
      font-weight: bold;
    }
  }

  .fa {
    font-size: 16px !important;
  }

}

.divider-inline {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px $link;
  clear: none;
  height: 1.2rem;
  width: 0;
  margin-left: 0.575rem !important;
  margin-right: -1rem !important;
}
