.custom-dropdown-area {
  display: inline-block;
  margin: 0;
  position:relative;
  min-width: 250px;
}

.custom-dropdown-button {
  background-color: #fff;
//  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #C8CFD3;
  padding: 0.5rem;
  padding-right: 2rem;
  font-size: 0.875rem;
  color: #838e9b;
  line-height: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 2.7125rem;
  width: 100%;
  display: block;
  padding-top: 7px;
}

.custom-dropdown-button {
  &:after {
    font-family: 'gglobal';
    content: '\e60c';
    font-size: 22px;
    top: 11px;
    right: 8px;
    position: absolute;
  }


}

#drop-countries {
  .custom-dropdown-button {
    &:before{
      font-family: 'gglobal';
      content: '\e603';
      font-size: 24px;
      top: 2px;
      left: 2px;
      position: relative;
      right: 12px;
      padding-right: 15px;
      vertical-align: sub;
      color: #485566 !IMPORTANT;
    }
  }
}

#drop-industrials {
  .custom-dropdown-button {
    &:before{
      font-family: 'gglobal';
      content: '\e602';
      font-size: 24px;
      top: 2px;
      left: 2px;
      position: relative;
      right: 12px;
      padding-right: 15px;
      vertical-align: sub;
      color: #485566 !IMPORTANT;
    }
  }
}


.custom-dropdown-button.radius {
  border-radius: 3px;
}

.custom-dropdown-area:hover .custom-dropdown-button {
  background-color: #fff;
  border-color: #C8CFD3;
  color: rgba(0, 0, 0, 0.75);
}

.custom-dropdown-area:hover .custom-dropdown-options {
  background-color: #fff;
  border-color: #C8CFD3;
}

.custom-dropdown-button:disabled {
  background-color: #dddddd;
  cursor: default;
}

.custom-dropdown-options {
  background-color: #fff;
  border-top: 0;
  margin-top: -3px;
  max-width: 100%;
  width: 100% !important;
}

.custom-dropdown-options li {
  padding: 0.5rem;
}

.custom-dropdown-options li.disabled {
  color: #ccc;
}

.custom-dropdown-options li.disabled:hover {
  background: #fff;
}

.custom-dropdown-options li.selected:after {
  content: '✓';
  float: right;
}
.custom-dropdown-options:before, .custom-dropdown-options:after {
  display: none;
}

@media only screen and (max-width: 40em) {
  .custom-dropdown-options {
    margin-left: -8px !important;
  }
}