.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0 0.9375rem;
  line-height: 2.8125rem;
  background: transparent !important;
}

a {
  &.add {
    float: right;
    line-height: 50px;
    color: $link;
    text-transform: uppercase;
//    font-weight: bold;
    font-weight: normal;
    .icon {
      color: $icon-color;
      vertical-align: text-bottom;
      font-size: 1.3em;
      position: relative;
      padding-right: 3px;
    }
    &:hover, &:focus {
      color: $tuatara;
    }
  }
}

.subheader {
  font-size: 31px;
}

.button {
  &.default {
    background-color: $icon-color;
    &:hover {
      background-color: darken($icon-color, 10%);
    }

    &:focus {
      background-color: darken($icon-color, 20%);
    }
  }
}

.tabs dd.active {
  border-right: 1px solid $gainsboro !important;
}

@media only screen and (max-width: 610px) {
  .tabs dd, .tabs .tab-title {
  float: none !important;
    margin-bottom: 10px !important;
    border-right: 1px solid $gainsboro;
  }

  .tabs dd.active {
    border-right: 0px solid $gainsboro;
    border-bottom: 1px solid $gainsboro !important;
  }
}

h3 {
  color: $tuatara;
  font-size: 21px !important;
}