@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-rdnm34');
  src:url('../fonts/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
  url('../fonts/icomoon.woff?-rdnm34') format('woff'),
  url('../fonts/icomoon.ttf?-rdnm34') format('truetype'),
  url('../fonts/icomoon.svg?-rdnm34#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
div.cs-skin-border {
  background: transparent;
  font-size: 2em;
  font-weight: normal;
  max-width: 600px;
}

@media screen and (max-width: 30em) {
  div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
  border: 1px solid $second-border;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 3px;
  color: $link;
  -webkit-transition: background 0.2s, border-color 0.2s;
  transition: background 0.2s, border-color 0.2s;
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
  font-family: 'gglobal';
  content: '\e60c';
  font-size: 22px;
  top: 22px;
  right: 9px;
}

.cs-skin-border ul span::after {
  content: '';
  opacity: 0;
}

.cs-skin-border .cs-selected span::after {
  content: '\e00e';
  color: #ddd9c9;
  font-size: 1.5em;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
  background: #fff;
//  border-color: #fff;
//  color: #2980b9;
  border-top: 1px solid $second-border;
  border-left: 1px solid $second-border;
  border-right: 1px solid $second-border;
  border-bottom:0;

}

.cs-skin-border .cs-options {
  color: $link-icon-dropdown;
  font-size: 0.75em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s;
  font-weight: normal;
}

.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-left: 1px solid $second-border;
  border-bottom: 1px solid $second-border;
  border-right: 1px solid $second-border;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -1px;
}

.cs-skin-border ul span {
  padding: 1em 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 1.3em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: $second-border;
  color:$black;
}
